*{
    padding:0;
    margin:0;
    font-family: 'Halant', serif;
    font-size: 16.5px;
}

.education-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
}

#header {
  padding-top: 30px;
  height: 280px;
  background-color: #ededed;
}

.checkerboard {
  background-image: url(../images/vichy.png);
}

h1 {
  font-family: 'Rozha One', serif;
  font-size: 40px;
  color: #3300cc;
  line-height: 48px;
  padding:10px;
  padding-left: 5%;
  display: inline;
}

h3 {
  padding-top: 20px;
  padding-left: 5%;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  line-height: 26px;
}

h2, h5 {
  padding-top:15px;
  padding-right:10px;
  padding-bottom:10px;
  padding-left: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

h2 {
  margin: 0;
  padding-bottom: 5px;
  font-style: bold;
  font-size: 24px;
  color: #3300cc;
  line-height: 29px;
}

h4 {
  margin-top: 15px;
  margin-bottom: 3px;
  line-height: 20px;
  color: #4A4A4A;
  font-weight: 400;
/*  font-style: bold; */
}

table {
  margin:10px;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid white;
  border-spacing: 0;
}

tr, th, td {
  padding: 6px;
  border: 1px solid white;
}

#workExperience {
  clear: both;
}

.dark-row {
  background-color: #aaaaff;
}

.light-row {
  background-color: #e6e6fa;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  /*line-height: 14px;*/
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: right;
}

p {
  font-size: 15px;
  color: #333333;
  line-height: 21px;
}

a {
  color: #1199C3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

a.online-class {
  margin-top: 0;
  font-size: 15px;
}

a.nav-menu {
  margin-top: 0;
}

.welcome-message {
  font-weight: 500;
  font-size: 24px;
  color: #ffff00;
  line-height: 30px;
}

#skillsH3 {
  color: #ff3300;
  /*display: none;*/
}

.skill {
  font-size: 18px;
}

.orange {
  background-color: #F5AE23;
}

.blue-violet-text {
  color: #3300cc;
}

.red-orange-text {
  color: #ff3300;
}

.orange-text {
  color: #ff9900;
}

.yellow-text {
  color: #ffff00;
}

.white-text {
  font-weight: bold;
  color: #FFFFFF;
}

.gray {
  background-color: #F3F3F3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4A4A4A;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  margin: 0 auto;
  padding-bottom: 1%;
}

ul {
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5%;
}

ul#topContacts {
  padding-top: 0;
}

#skills {
  padding-top: 10px;
}

li {
  list-style-type: none;
  font-size: 16px;
}

.push-left {
  padding-left: 0;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

br {
  line-height: 1px;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 0;
}

#letsConnect {
  text-align: center;
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

div.gm-style-iw > div > div {
  font-weight: bold;
}

#navigation {
  z-index: 5;
  position: relative;
}

.transparent {
  opacity: 0.9;
}

/* overwriting bootstrap.min.css */
.navbar {
  margin-bottom: 0;
  border: none;
}

.navbar-nav>li>a {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 15px;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 5px 10px;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}


@media only screen and (min-width: 768px) {
  .biopic {
    display: block;
  }

/* overwriting bootstrap.min.css*/
  .navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
  }

}

@media only screen and (max-width: 767px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }

  ul, #skillsH3, h2, h3 {
    text-align: center;
  }

  ul {
    padding-top: 10px;
  }

  #skillsH3 {
    padding-top: 75px;
  }

  #header {
    padding-top: 20px;
    height: 385px;
    text-align: center;
  }

  h1 {
    display: block;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

}